/* * {
    font-family: arial;
} */

@font-face {
    font-family: 'Montserrat-bold';
    src: url(../FONTS/Montserrat/Montserrat-Bold.ttf);
}

body {
    margin: 0px;
}

nav{
    position: sticky;
    top: 0px;
    z-index: 10;
}

.BOX {
    background-color: rgb(37, 37, 127);
    color: white;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 10px 10px;
}

nav img.logo{
    width: 60px;
    /* height: %; */
}

.Home {
    display: flex;
    gap: 40px;
}

nav a{
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: red;
}
nav a.active{
    color: red;
}

.navlink-group {
    position: relative;
}

.sub-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(37, 37, 127);
    /* background-color: rgb(30, 30, 103); */
}

.navlink-group:hover .sub-menu{
    display: flex;
}

.sub-menu a {
    padding: 10px 20px;
    white-space: nowrap;
}
.sub-menu a:hover {
    background-color: rgb(37, 37, 127);
}
/* nav ends */

/* footer */
footer{
    background-color: rgb(37, 37, 127);
    /* background-color: rgb(30, 30, 103); */
    color: white;
    padding:  60px 50px 30px;
    margin-top: 30px;
    
}
.footer-main-content {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .newsletter-group {
    display: flex;
    width: 30px;
    height: 30px;
}
footer .newsletter-group input[type="button"]{
    background-color: red;
    color: white;
}
/* footer .newsletter-group input[type="email"]::placeholder{
    color: pink;
} */

footer a{
    color: rgb(242, 236, 58);
    text-decoration: none;
}

.footer-main-content .F0{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 25px;

}

.footer-main-content .F0> img{
    align-self: flex-start;
    width: 100%;
}

.footer-main-content .F0 .social-icons{
    display: flex;
    gap: 10px;
    justify-content: center;
}

footer.F1{
    text-align: center;
}


footer .F2{
    display: flex;
}

footer .F2 p {
    text-align: justify;
    line-height: 1.4em;
}

footer .F3 .align {
    display: flex;
    gap: 10px;
}
footer .align>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .F4 {
    /* margin-top: 70px; */
    text-align: center;
}

footer .F5 {
    text-align: center;
    gap: 10px;
}

.sitemap {
    border: 3px solid red;
    padding: 3px 6px;
}

/* footer end */



/* banner */
.banner{
    height: 80vh;
    position: relative;
}

.banner::after{
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: black;
    opacity: 0.5;
    z-index: -1 ;
}

.banner::before{
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-image: url(./Images/healthy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
    z-index: -2;
}

.banner>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.banner>div>p {
    font-size: 40px;
}

.banner>div>input {
    color: white;
    background-color: red;
    font-size: 30px;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.banner>div>input:hover {
    box-shadow: 0px 10px 20px rgb(255, 126, 126);

}

.index1 {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.AboutUs {
    background-color: rgb(37, 37, 127);
    color: white;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden
}
.two-column-section {
    /* padding-left: 10px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    text-align: justify;
    line-height: 1.8em;
    margin: 30px;
}
.two-column-section>div{
    padding: 30px;
}

.two-column-section  img{
    width: 100%;
    /* padding-left: 5px; */
}

.AboutUs input {
    font-family: 'Montserrat-bold';
    padding: 5px 10px;
    margin-bottom: 10px;
    border: none;
    /* border: 0px; */
    border-radius: 10px;
    bottom: 40px;
}

.AboutUs input:hover {
    background-color: rgb(193, 193, 221);
}

.AboutUs input.active {
    color: red;
}

.testimonial-section > h3 { 
    text-align: center;
    margin-top: 50px;
    font-size: 1.9em;
}

.testimonial-section > .content { 
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    padding-top: 0px;
}

.testimonial-section > .content > .card {
    border-radius: 10px;
    background-color: rgb(204, 203, 203);
    padding: 20px;
}

.testimonial-section > .content > .card > .card-footer{
    display: flex;
    gap: 10px;
}

.testimonial-section > .content > .card > .card-footer > img{ 
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.what-we-do-section input {
    font-family: 'Montserrat-bold';
    padding: 5px 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    bottom: 40px;
    background-color: rgb(37, 37, 127);
    color: white;
}

.what-we-do-section input:hover{
    background-color: rgb(76, 76, 229);

}

.content2 > h3{
    /* text-shadow: 1px 1px; */
    font-size: 1.5em;
}

.host-section {
    margin: 10px;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px; */
    text-align: justify;
    line-height: 1.9em;
    background-color: rgb(204, 203, 203);
    border-radius: 10px;
    overflow: hidden;
}

.host-section> div h3{
    margin: 0px;

}

.host-section> div p{
    margin: 0px;
}


.host-section> div{
    /* background-color: red; */
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}

.host-section img{
    width: 100%;
}

@media (max-width: 1024px) {
    .testimonial-section > .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 640px) {
    .banner{
        text-align: center;
        height: 60vh;
    }
    .footer-main-content {
        grid-template-columns: 1fr;
    }

    .F4{
        margin-top: 30px;
    }
    .testimonial-section > .content {
        grid-template-columns: 1fr;
    }
    .two-column-section {
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .two-column-section.AboutUs img {
        order: 1;
    }
    .two-column-section.AboutUs>div{
        order: 2;
    }
}

@media (max-width: @iphone-screen) {
    .banner::before{
        background-attachment: scroll;
    }
}